env:
    global:
    # this defines GITHUB_TOKEN, updated 2020-01-30
    - secure: "fNWxDt2xPgZfKHA92PmdQ6Vsr5dSBkb+pZCll8E2UCpiojGYuc7wimxeyA6zpDacYhu3uWio3KoVe99LRcTKKuuXlzEr4rXxv5dbD0TGgeC+2qknDPkz19LdhhL12Mcpb+eVh82lv83zBYWBTDDvP/J8760YeIIt/73cYhWyfofgK4swVT6hsUh1cKYENCqjh54XVtps4uPBHOqTf0pAW8sIeX8IbrI7/IvfiIdVnMm1EzJxDsA2QJtyhQU/OBEcyBcbuFJMdLoSxReB9XkehqgDvSGrvPXRgCS6sNkY1l5ju9e6y9Q9UIGGMRBTO3I45RLc+any990GvD7oZjQ2IB4Mym/NSeBaN3zfqkuGvgrFRl1gT4Boo7T7vYlGSifuk2FZHE/LJXnNhi0EcaQQ8I/JqMrRCdzktFlb6oTUeHDQVDVG2mUtK8Y+Xltj6D499BQ5ScawqbXDWJJg8Hi/Xbj9uBNDYScEIYht+8uMzBBXn3tL0WUpiZuofC3l4WmSUYHB7moumAjFUfV4LcYyIsVN2U81Kc48eNFxNhsVqj9l59ikRIlhbZQYsAsey34v62TkTi/ii/Lp3K8lAYFz43tRGzZB1m47GO1/pzjWUSxc0YtzVXGv6CAS29WY6fKxTYgE5PK515dUFw4Jd1FFmBm3j9FSh0xta+IUDJ+fMow="

os: windows
language: cpp

branches:
    only:
    - master

script:
- ./build.bat

before_deploy:
- git config --local user.name "Anton Voloshin"
- git config --local user.email "ashutosh108@gmail.com"
- export TRAVIS_TAG=${TRAVIS_TAG:-build-$(date +'%Y-%m-%d')}
- git tag -f $TRAVIS_TAG
- "echo \"TRAVIS_TAG: ${TRAVIS_TAG}\""
- "echo \"TRAVIS_REPO_SLUG: ${TRAVIS_REPO_SLUG}\""
- "echo \"TRAVIS_REPO_SLUG_1: ${TRAVIS_REPO_SLUG%/*}\""
- "echo -n \"GITHUB_TOKEN: \" && [ -z \"${GITHUB_TOKEN}\" ] && echo EMPTY || echo NOT empty"
- git remote add gh https://${TRAVIS_REPO_SLUG%/*}:${GITHUB_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git
- git push -f gh $TRAVIS_TAG
- git remote remove gh

deploy:
  provider: releases
  api_key: ${GITHUB_TOKEN}
  file:
  - qt5.14-static-msvc2017-minimal.zip
  skip_cleanup: true
  overwrite: true
  prerelease: true
  on:
    repo: ${TRAVIS_REPO_SLUG}
